.botonEliminar{
background: rgb(145, 14, 14);
color: rgb(255, 255, 255);
border-radius: 10px;

}

.botonActualizar{

    background: rgb(6, 179, 20);

    color: rgb(255, 254, 254);
    border-radius: 10px;
} 



