// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-header ion-toolbar {
    --background: #003B8E;
    --color:white;
  }
  ion-content{
    --background:#AF8514;
    --color:white;

}

.bAgregar{
    background: black;
    color:rgb(216, 209, 209);
    border-radius: 10px;
    }
    .custom-popover .popover-content {
        width: 300px;
      }

      $alert-md-input-border-color:red;